
.blackBg::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.black-nav {
  display: flex;
  background-color: black;
  color: white;
  padding-left: 20px;
  position: relative;
  font-size: 18px;
  height: 60px;
  align-items: center;
  border-radius: 8px;
  margin: 20px;
}
.black-nav .menu {
  position: absolute;
  right: 20px;
}
.containers {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}